{
    "extends": "airbnb",
    "rules": {
        "react/jsx-indent": [2, 4],
        "react/jsx-indent-props": [2, 4],
        "indent": [2, 4],
        "react/jsx-boolean-value": [0],
    },
    "parserOptions":{
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true
        }
    }
}
