@import 'vendor/vendor'

html
    font-family: Roboto

body
    background: #191A25

.appnav
    border: 0
    border-bottom: 1px solid #bf2205
    border-radius: 0
    margin: 0
    background-color: #222

    & li&__item > a
        color: white
